# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Marce\OneDrive\DOCUMENTOS\ETA\ETA025-TÓPICOS ESPECIAIS I\AppResultado\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
